.spinner-grow {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #03112e;
    background-position: center center;
    background-repeat: no-repeat;
}